<p style="color: green"><%= notice %></p>

<div class="container p-3 my-3 bg-dark text-white">
  <div class="d-flex align-items-center">
  <h1>Restaurants</h1>
  </div>
    <div id="restaurants">
      <% @restaurants.each do |restaurant| %>
        <%= render restaurant %>
        <p>
          <%= link_to "Show this restaurant", restaurant %>
        </p>
      <% end %>
    </div>
  <div class="d-flex align-items-center">
  <%= link_to "New restaurant", new_restaurant_path %>
  </div>
</div>
